---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=BASE_KEY&query=anchovies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Api-Umbrella-Request-Id:
      - cdmb599nsou9f9s3g29g
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3596'
      X-Vcap-Request-Id:
      - 6f4513e5-82b5-40ce-6e29-ecb419839524
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":2362,"currentPage":1,"totalPages":48,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"anchovies","generalSearchInput":"anchovies","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":50,"requireAllWords":false},"foods":[{"fdcId":1850783,"description":"ANCHOVIES","dataType":"Branded","gtinUpc":"076606319891","publishedDate":"2021-07-29","brandOwner":"United
        Natural Foods, Inc.","brandName":"HADDON HOUSE","ingredients":"ANCHOVIES,
        OLIVE OIL, CAPERS AND SALT ADDED. ","marketCountry":"United States","foodCategory":"Canned
        Seafood","modifiedDate":"2017-08-31","dataSource":"LI","packageWeight":"2
        oz/56 g","servingSizeUnit":"g","servingSize":15.0,"tradeChannels":["NO_TRADE_CHANNEL"],"allHighlightFields":"<b>Ingredients</b>:
        <em>ANCHOVIES</em>, OLIVE OIL, CAPERS AND SALT ADDED. ","score":1439.6144,"microbes":[],"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":20.0,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":600,"indentLevel":1,"foodNutrientId":24046535},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":10.0,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":800,"indentLevel":1,"foodNutrientId":24046536,"percentDailyValue":2},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","derivationId":75,"value":0.0,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":1110,"indentLevel":2,"foodNutrientId":24046537,"percentDailyValue":0},{"nutrien[...]
